/* main styles */
*{
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
}

main{
    background-image:url(istockphoto-1032592064-1024x1024.jpg) ;
    background-size: 1300px;
    height: 600px;
    background-position: 50%,0;
    background-repeat: no-repeat;
}


nav, nav>ul, section>ul{
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}


nav>ul{
    flex-grow: .2;
    align-items: center;
    width: 60%;
    list-style: none;
    font-size: 2.5em;
    font-family: 'Gabriela';
}

nav>ul>li>a{
    text-decoration: none;
}

main>section{
    margin: 5% 0 0 10%;
}

h1{
    font-size: 7em;
    margin-bottom: 3px;
    font-family: 'Gabriela';
}

input{
    font-size: 3em;
    border-color: rgb(230,34,48);
    border-radius:4px 0 0 4px ;
    border-width: 3px;
}
button{
    background-color: rgb(230,34,48);
    border-color: rgb(230,34,48);
    border-radius: 0 4px 4px 0;
    font-size: 3em;
    color: white;
}

main>section>ul{
    width: 30%;
    list-style: none;
    padding-left: 0%;
    font-size: 3em;
    justify-content: space-between;
}




