/* main styles */
*{
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
}

main{
    background-image:url(istockphoto-1032592064-1024x1024.jpg) ;
    background-size: 1300px;
    height: 800px;
    background-position: 50%,0;
    background-repeat: no-repeat;
}


nav, nav>ul, section>ul{
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}


nav>ul{
    flex-grow: .2;
    align-items: center;
    width: 60%;
    list-style: none;
    font-size: 2.5em;
    font-family: 'Gabriela';
}

nav>ul>li>a{
    text-decoration: none;
}

main>section{
    margin: 5% 0 0 10%;
}

h1{
    font-size: 7em;
    margin-bottom: 3px;
    font-family: 'Gabriela';
}

input{
    font-size: 3em;
    border-color: rgb(230,34,48);
    border-radius:4px 0 0 4px ;
    border-width: 3px;
}
button{
    background-color: rgb(230,34,48);
    border-color: rgb(230,34,48);
    border-radius: 0 4px 4px 0;
    font-size: 3em;
    color: white;
}

main>section>ul{
    width: 30%;
    list-style: none;
    padding-left: 0%;
    font-size: 3em;
    justify-content: space-between;
}

/* first section */

.firstsection{
    height: 850px;
    background-image: url(istockphoto-1223136959-1024x1024.jpg);
    background-repeat: no-repeat;
    background-size: 1300px;
    background-position: 50%;
}

main+section>div{
    visibility: hidden;
}
body main+section>section{
    margin: 8% 0 0 65%;
    width: 30%;
}

h3{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: rgb(255,118,111);
}

h2{
    font-size: 3em;
    font-family: 'Gabriela';
}

section>section p{
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
}

section>section button{
    border-radius: 5px 0 0 5px;
    border: none;
    width: 25%;
    height: 10%;
    font-size: 1.1em;
    padding: 5px;
}
section>section button +button{
    margin-left: -4px;
    border-radius: 0 5px 5px 0;
    width: 10%;
    background-color: rgb(228, 98, 107);
}

/* second section */

main+section+section{
    height: 600px;
}

main+section+section>section, .centerthirdsection, .callnow{
    width: 80%;
    margin: 10% auto;
}

.centerh3,.centerh2, .callnow{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

main+section+section>section>h2{
    font-size: 4em;
}

main+section+section>section>ul{
    list-style: none;
    width: 70%;
    margin: 2% auto;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.breakfast,.lunch,.dinner,.dessert,.shake{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

main+section+section>section img{
    margin: 1%;
    border-radius: 10px;
}

.menubutt{
    background-color: rgba(0, 0, 255, 0.288);
    width: 15%;
    border-radius: 5px;
    padding: 4px 5px;
}

.selectbutt{
    background-color: red;
}

.hidden{
    display: none;
}

main+section+section>section img{
    width: 30%;
}

/* third section */
.centerthirdsection{
    height: 400px;
}

.callnow{
    display: flex;
    flex-direction: column;
    margin: 5% auto ;
    height: 150px;
}

.innerthirdsection{
    margin: auto 0;
}

.callnow h4, h5{
    font-size: 2em;
    font-weight: 700;
    margin: 2% 0;
    font-family: 'Gabriela';
}

.schedule{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font: 3em;
    margin: 5% 0 ;
}

/* fourth section */

.fourthsection{
    height: 1200px;
    background-image: url(tree-branch-plant-fruit-wall-food-535502-pxhere.com.jpg);
    background-position: bottom;
    display: flex;
    flex-direction: column;
}

.fourthsection *{
    margin: 1% auto;
}

.fourthsection img{
    width: 20%;
    border-radius: 50%;
}

.fourthsection>h3:first-child{
    margin-top: 9%;
}

.fourthsection h4, .fourthsection p{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    width: 30%;
    text-align: center;
}

.fourthsection>ul span{
    margin: 0 0;
}

.fourthsection>ul{
    justify-content: center;
    padding: 0 0;
}

@media all and (max-width:400px){
    body{
        font-size: 10%;
    }
    nav a{
        margin: 0 2px;
    }

    nav ul{
        padding: 0;
    }

    main{
        background-size: 300%;
        height: 330px !important;
    }

    .menubutton{
        width: 85%;
        padding: 2px;
    }

    .menubutt{
        width: 60%;
        padding: 2px 2px;
    }
    .menubutton+button{
        padding: 2px;
    }

    body>section{
        height: 300px !important;
    }

    .firstsection{
        height: 500px !important;
        background-size: 300% !important;
    }

    .secondsection ul{
        padding: 0;
        width: 100%;
    }

    .centerthirdsection{
        height: 100px !important;
    }

    .callnow{
        height: 30px;
    }

    .innerthirdsection{
        height: 100px;
    }

    .secondsection{
        height: 150px !important;
    }

    .fourthsection{
        background-size: 300%;
        background-repeat: no-repeat;
        height: 500px !important;
    }
}

/* @media all and (max-width:400px){
    body{
        font-size: 10%;
    }
    nav a{
        margin: 0 2px;
    }

    nav ul{
        padding: 0;
        width: 90%;
    }

    main{
        background-size: 200%;
        height: 200px !important;
    }

    .menubutton{
        width: 60%;
        padding: 2px;
    }

    .menubutt{
        width: 17%;
        padding: 2px 3px;
    }
    .menubutton+button{
        padding: 2px;
    }
    body main+section>section{
        margin: 10% 0 0 30%;
    }
    .firstsection>section{
        width: 60%;
    }

    section>section button+button {
        width: 14%;
    }

    body>section{
        height: 400px !important;
    }

    .secondsection ul{
        padding: 0;
        width: 100%;
    }

    .centerthirdsection{
        height: 100px !important;
    }

    .callnow{
        height: 30px;
    }

    .innerthirdsection{
        height: 100px;
    }

    .secondsection{
        height: 150px !important;
    }

    .fourthsection{
        background-size: 300%;
        background-repeat: no-repeat;
        height: 270px !important;
    }

    .fourthsection p{
        width: 50%;
    }
} */








